@{
    ViewData["Title"] = "DoubleBooked";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>U heeft al een ticket besteld op deze dag</h1>
    <p>Beste klant, u heeft al reeds een ticket besteld voor een match op deze dag</p>
    <p>Controleer alstublieft uw history voor uw tickets. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>