@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "DoubleBooked";
    string contactEmail = Configuration["Contact"]!;
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>U heeft al een ticket besteld op deze dag of er zitten er in je winkelwagen</h1>
    <p>Beste klant, u heeft al reeds een ticket besteld voor een match op deze dag of er zitten al tickets van dezelfde speeldag in uw winkelwagen</p>
    <p>Controleer alstublieft uw history of winkelwagen voor uw tickets. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:@contactEmail">contact met ons op</a> als u nog vragen heeft.</p>
</div>