@{
    ViewData["Title"] = "FullMatch";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>Deze match is al volledig uitverkocht</h1>
    <p>Beste klant, doordat de match volledig uitverkocht is het niet mogelijk om een ticket te kopen</p>
    <p>U kunt wel een ticket kopen voor een andere match. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>