@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "FutureMatch";
    string contactEmail = Configuration["Contact"]!;
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>U kunt nog geen ticket kopen voor deze match</h1>
    <p>Beste klant, Deze match is nog niet beschikbaar om een ticket voor te kopen</p>
    <p>Wacht alstublieft tot in de maand voor de match. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:@contactEmail">contact met ons op</a> als u nog vragen heeft.</p>
</div>