@model List<TicketverkoopVoetbal.ViewModels.TicketNameVM>

@{
    ViewData["Title"] = "Tickets";
}

<link rel="stylesheet" href="~/css/purchasestyles.css" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="p-4 bg-light rounded">
                <form asp-controller="PurchaseTicket" asp-action="Names" method="post">
                    <h4 class="mb-4">Gelieve hieronder de namen in te vullen van de gebruikers voor wie de tickets zullen worden aangeschaft, aangezien de tickets op naam zijn.</h4>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label asp-for="@Model[i].Name">Voornaam:</label>
                                    <input asp-for="@Model[i].Name" class="form-control" />
                                    <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="mb-3">
                        <button type="submit" class="w-100 btn btn-primary">Bevestig</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
