@{
    ViewData["Title"] = "PastMatch";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>Deze match is al voorbij</h1>
    <p>Beste klant, Deze match is al voorbij en hier kunt u dus geen ticket voor kopen</p>
    <p>Koop alstublieft een ticket voor een match in de toekomst. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>