@{
    ViewData["Title"] = "DoubleBooked";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>U heeft dit abonnement al staan in uw shoppingCart</h1>
    <p>Beste klant, u heeft al reeds een abonnement in u shoppingcart voor deze ploeg</p>
    <p>Controleer alstublieft uw shoppingcart voor u abonnement of verwijder deze eerst uit u <a asp-controller="ShoppingCart" asp-action="Index">shoppingcart</a>. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>