@{
    ViewData["Title"] = "FullMatch";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>Een match voor deze ploeg is al volledig uitverkocht</h1>
    <p>Beste klant, doordat een match volledig uitverkocht is het niet mogelijk om een abonnement te kopen</p>
    <p>U kunt wel nog een ticket kopen voor specifieke matchen van deze club als deze niet uitverkocht is. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>