@{
    ViewData["Title"] = "NoSeizoen";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>Er is momenteel nog geen nieuw seizoen besloten</h1>
    <p>Beste klant, momenteel moet het volgend seizoen nog beslist worden en kunt u dus geen abonnement kopen</p>
    <p>Onze excuses hiervoor.</p>
    <p>Neem <a href="mailto:tickets.voetbal.league@gmail.com">contact met ons op</a> als u nog vragen heeft.</p>
</div>