#page {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 50px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.table {
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .cart-table th,
    .cart-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        position: relative; /* Maak positie relatief voor positionering van absoluut element */
    }

    .cart-table th {
        background-color: #f2f2f2;
    }

    .cart-table td img {
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
    }

.total {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: right; /* Uitlijnen van tekst naar rechts */
    position: relative; /* Maak positie relatief voor positionering van absoluut element */
}

    .total::before {
        position: absolute;
        top: 50%; /* Verticaal midden uitlijnen */
        transform: translateY(-50%); /* Aanpassen voor verticale centrering */
        left: 0; /* Plaats links van de cel */
    }

    .total span {
        position: absolute;
        top: 50%; /* Verticaal midden uitlijnen */
        transform: translateY(-50%); /* Aanpassen voor verticale centrering */
        right: 12px; /* Afstand vanaf de rechterkant van de cel */
    }
