@model IEnumerable<TicketverkoopVoetbal.ViewModels.StadionVM>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Stadion Naam
            </th>
            <th>
                Adres
            </th>
            <th>
                Stad
            </th>
            <th>
                Capaciteit
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var stadion in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => stadion.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => stadion.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => stadion.Stad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => stadion.TotalCapaciteit)
            </td>
        </tr>
}
    </tbody>
</table>
