@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Thanks";
    string contactEmail = Configuration["Contact"]!;
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div id="page">
    <h1>Bedankt voor uw bestelling!</h1>
    <p>Beste klant, uw factuur is succesvol naar uw e-mailadres verzonden.</p>
    <p>Controleer alstublieft uw inbox (en eventueel spam-map) voor uw tickets. Veel plezier op het evenement!</p>
    <p>Neem <a href="mailto:@contactEmail">contact met ons op</a> als u nog vragen heeft.</p>
</div>

