@model TicketverkoopVoetbal.ViewModels.ClubMatchVM

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/matchstyles.css" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label for="ClubId" class="control-label">Selecteer een Club:</label>
                <select asp-for="ClubNumber" asp-items="Model.Clubs">
                    <option disabled selected value="">Kies een Club</option>
                    <option selected value="0">Alle Clubs</option>
                </select>
            </div>
        </form>
    </div>
</div>

@if (Model.Matches != null)
{
    @foreach (var item in Model.Matches)
    {
        @await Html.PartialAsync("_Match", item);
    }
}

@section scripts
{
    <script>
        $("#ClubNumber").on("change", () => {
            $("form").trigger("submit");
        });

    </script>
}
